/* Estilos comunes PowerPoint Guías */
.box-ppt {
  border-left-color: #d24726;
  background-color: #fcedeb;
}

/* uso-de-zoomit */
.shortcut-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
}
.shortcut-table th, .shortcut-table td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  text-align: left;
}
.shortcut-table th {
  background-color: #f4f4f4;
  color: #333;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0,0,0,.2), 0 2px 0 0 rgba(255,255,255,.7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
